body {
  background-color: grey
}

main {
  padding: 5px;
  border: 5px black solid;
  margin: 5px;
  background: white;
}

section {
  padding: 5px;
  border: 5px black solid;
  margin: 5px;
  background: white;
}

/* button:focus { 
  color: black;
  background: yellow;
} */
/* button:hover { 
  color: black;
  background: yellow;
}

button:active {
  color: black;
  background: green;
} */



.blurb1 {  
  font-family: "Indie Flower", cursive;

  font-size: 24px;

  font-weight: bold;

  line-height: 48px;
}

.blurb2 {
  font-family: 'Amatic SC', cursive;

  font-size: 16px;

  font-weight: 900;

  line-height: 16px;
}

.blurb3 {
  font-family: 'Nothing You Could Do', cursive;

  font-size: 10px;

  font-weight: 300;

  line-height: 20px;
}

